<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project demo</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ msg }}</h1>
      <form @submit.prevent="save">
        <input
          v-model="fromData.query.value"
          type="text"
          placeholder="Search..."
        />
        <br />
        <strong style="color: red">{{ fromData.query.error }}</strong>
        <ul>
          <li v-for="result in results">{{ result }}</li>
        </ul>
        <input v-model="fromData.phone.value" type="text" placeholder="Phone" />
        <br />
        <strong style="color: red">{{ fromData.phone.error }}</strong>
        <br />
        <input
          v-model="fromData.email.value"
          type="email"
          placeholder="email"
        />
        <br />
        <strong style="color: red">{{ fromData.email.error }}</strong> <br />
        <input
          v-model="fromData.password.value"
          type="password"
          placeholder="password"
        />
        <br />
        <strong style="color: red">{{ fromData.password.error }}</strong>
        <br />
        <button>Submit</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/joi@17.5.0/dist/joi-browser.min.js"></script>
    <script src="vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
